* {
    font-family: 'Gilroy-Bold';
}
body{
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
img{
    display: block;
    max-width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.photo{
    width: 35px;
    height: 40px;
    background: url(logo.png);
    margin: 40px 1510px 620px 375px;
}
.log{
    width: 88px;
    height: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 45px 1408px 625px 424px;
}
.navigator{
    width: 533px;
height: 17px;
font-family: 'Gilroy-SemiBold';
font-size: 14px;
line-height: 16px;
color: #000000;
margin: 51px 375px 632px 1012px;}
.home{
    width: 533px;
height: 17px;
font-family: 'Gilroy-SemiBold';
font-size: 14px;
line-height: 16px;
color: #F25822;
}

.main{
    margin: 164px 1025px 314px 373px;
    width: 522px;
height: 222px;
font-size: 60px;
line-height: 70px;
color: #000000;
}
.second{
    margin: 403px 1081px 249px 373px;
    width: 466px;
height: 48px;
font-family: 'Gilroy-Medium';
font-size: 20px;
line-height: 23px;
color: #888888;
}
.btn{
width: 140px;
height: 50px;
color: white;
background: #F25822;
box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
border-radius: 50px;
border: none;
margin: 488px 1405px 162px 375px;
padding: 15px 36px 16px 35px;
}
.wtf{
    margin: 503px 1243px 178px 587px;
width: 90px;
height: 19px;
font-size: 15px;
line-height: 18px;
color: #AAAAAA;
}
.fon{
width: 544.81px;
height: 374.84px;
background: url(pngfind.png);
margin: 162.71px 439.25px 162.45px 935.94px;
}
.logos{
width: 160px;
height: 50px;
background: url(1(2).png);
}